# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.idea
.vscode
.fleet
run/log4j2.xml
blockbench

mod_pages_assets/changelog.txt
howtotestcuffed.txt
roadmap.txt
thingsToFix.txt

# Files from Forge MDK
forge*changelog.txt
/mod_pages_assets/
